body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1{
    color: #af2a2a;
    margin: auto;
}

.newsletter-wrapper{
    margin: 40px auto;
    background-color: #fff;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    width: 60%;
}
.msg{
    width: 500px;
    margin: auto;
}
.msg.error{
    color: red;
}
.msg.success{
    color: green;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    padding: 30px;
}
form .input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    min-height: 26px;
    border-radius: 4px;
    border: solid 1px #ccc;
}
input:active, input:focus{
    border: solid 1px #ff8900;
    box-shadow: none;
    outline: unset;
}
.checkbox-label{
    display: flex;
    align-items: center;
    gap: 3px;
}

button{
    background-color: #ff8900;
    color: #000;
    border-radius: 4px;
    height: 38px;
    width: 50%;
    min-width: 200px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease .4s;
    border: solid 2px #ff8900;
}
button:hover{
    background-color: transparent;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

